- name: Create Jenkins home directory
  file:
    path: "{{ jenkins_home_dir }}"
    state: directory
    mode: "0777"
    owner: "{{ jenkins_dir_owner }}"
    group: "{{ jenkins_dir_group }}"

- name: Set ownership to Jenkins user (UID 1000)
  file:
    path: "{{ jenkins_home_dir }}"
    owner: "1000"
    group: "1000"
    recurse: yes
  ignore_errors: yes

- name: Run Jenkins container
  docker_container:
    name: "{{ jenkins_container_name }}"
    image: "{{ jenkins_image }}"
    state: started
    restart_policy: always
    ports:
      - "{{ jenkins_http_port }}:8080"
      - "{{ jenkins_agent_port }}:50000"
    volumes:
      - "{{ jenkins_home_dir }}:/var/jenkins_home"
    user: "1000:1000"

