- name: Update apt cache
  apt:
    update_cache: yes
    cache_valid_time: 3600

- name: Upgrade all packages
  apt:
    upgrade: dist
  when: common_dist_upgrade | bool

- name: Install base packages
  apt:
    name: "{{ common_packages }}"
    state: present
