- name: Install docker
  apt:
    name:
      - docker.io
      - docker-compose
    state: present

- name: Start docker
  service:
    name: docker
    state: started
    enabled: yes

- name: Add user to docker group
  user:
    name: "{{ docker_user }}"
    groups: docker
    append: yes
